.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.content-center {
    justify-content: center;
}

.content-between {
    justify-content: space-between;
}

.content-start {
    justify-content: start;
}

.content-end {
    justify-content: end;
}

.ml-2 {
    margin-left: 2%;
}

.mr-2 {
    margin-right: 2%;
}